<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <style>

    body {
    background-color: #cc0000;
    font-family: 'Macondo', cursive;
    color: black;
    }
    h4, h5 {
      color: white;
    }

</style>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
    <div class="container">
      <header>
        <div class="row justify-content-center">
          <div class="yinyang">
            <img class="img-fluid" src="yinyang.png" height="50" width="50">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="heading">
          <h1>Chinese Herbal Formula Database</h1>
          <h4>An app to add, change, and delete Chinese herbal formulas</h4>
          <h5>And associated info like symptoms and brands</h5>
        </div>
        </div>
       </header>


    <main>

  </main>

</div>
<nav class="navbar navbar-inverse fixed-bottom navbar-toggleable-md" style="background-color: #000000;">
  <!-- Navbar content -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="navbar-nav">
  <a class="navbar-brand text-white" href="#">About</a>
  <a class="nav-item nav-link text-white" href="/formulas">Home</a>

</div>

</nav>
  </body>
</html>
