<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Chinese Herbal Formulas</h1>
    <h2>Chinese Herbal Formula Database</h2>
  </body>
</html>
