<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Delete Chinese Herbal formula</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <style>
    body {
      background-color: #cc0000;
      font-family: 'Macondo', cursive;
      color: black;
    }

    .heading {
      padding-top: 20px;
    }

    .yinyang {
      padding-top: 50px;

    }

    .formula-item {
      color: white;
    }

    .yinyang {
      padding-top: 50px;
    }

    .btn {
      background-color: black;
      font-family: 'Macondo', cursive;
      color: white;
    }

  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <header>
    <div class="row justify-content-center">
        <div class="yinyang">
          <img class="img-fluid" src="http://localhost:8000/images/yinyang.png" height="50" width="50">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="heading">
          <h1>Delete A Single Formula</h1>
        </div>
      </div>
      </header>

      <div class="formula-item row justify-content-center">
        <h3>
          <%= formula.formula %>
        </h3>
      </div>
      <!---Many browsers won't accept the DELETE method so using POST to accomplish delete  -->
      <form action="/formulas/delete/<%= formula.fid %>" method="POST">


      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>

    </form>

  </div>
</body>
  <nav class="navbar navbar-inverse fixed-bottom navbar-toggleable-md" style="background-color: #000000;">
    <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="navbar-nav">
    <a class="navbar-brand text-white" href="#">Show Single formula</a>
    <a class="nav-item nav-link text-white" href="/formulas">All formulas</a>

  </div>

  </nav>
</body>

</html>
