<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Chinese Herbal Formula</title>
  </head>
  <body>
    <h1>A New formula</h1>

    <form action="/formulas" method="POST">
      <div>
        <input type="text" name="english_name"/>
        <input type="text" name="pinyin_name"/>
      </div>
      
      <button type="submit">Save formula</button>
    </form>
  </body>
</html>
