<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>New formula</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <style>
    body {
      background-color: #cc0000;
      font-family: 'Macondo', cursive;
      color: black;
    }

    .btn {
      background-color: black;
      font-family: 'Macondo', cursive;
      color: white;
    }

    .heading {
      padding-top: 20px;
    }

    .yinyang {
      padding-top: 50px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <header>
    <div class="row justify-content-center">
        <div class="yinyang">
          <img class="img-fluid" src="/images/yinyang.png" height="50" width="50">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="heading">
          <h1>Update a formula</h1>
        </div>
      </div>
    </header>

    <form action="/formulas/update/<%= formula.fid %>" method="POST">


      <div class="form-group">
        <label for="formulaEnglishName">Formula English Name</label>
        <input type="text" class="form-control" name="english_name" placeholder="<%= formula.english_name %>">
      </div>

      <div class="form-group">
        <label for="formulaPinyinName">Formula Pinyin name</label>
        <input type="text" class="form-control" name="pinyin_name" placeholder="<%= formula.pinyin_name %>">
      </div>

      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

  </div>
</body>

</html>
