<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>New symptom</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <style>
    body {
      background-color: #cc0000;
      font-family: 'Macondo', cursive;
      color: black;
    }

    .btn {
      background-color: black;
      font-family: 'Macondo', cursive;
      color: white;
    }

    .heading {
      padding-top: 20px;
    }

    .yinyang {
      padding-top: 50px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <header>
    <div class="row justify-content-center">
        <div class="yinyang">
          <img class="img-fluid" src="/images/yinyang.png" height="50" width="50">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="heading">
          <h1>A New symptom</h1>
        </div>
      </div>
    </header>

    <form action="/symptoms" method="POST">


      <div class="form-group">
        <label for="symptom">symptom</label>
        <input type="text" class="form-control" name="symptom" placeholder="symptom">
      </div>

      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</body>
<nav class="navbar-expand-sm  navbar-inverse fixed-bottom navbar-toggleable-md" style="background-color: #000000;">
  <!-- Navbar content -->
  <button class="navbar navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar navbar-toggler-icon"></span>
</button>
  <div class="navbar navbar-nav">
    <a class="navbar navbar-brand text-white" href="/">Home</a>
    <a class="nav-item nav-link text-white" href="/about">About</a>
    <a class="nav-item nav-link text-white" href="/symptoms">All Symptoms</a>
    <a class="nav-item nav-link text-white" href="/formulas">All Formulas</a>

  </div>

</nav>


</html>
